<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Resource Allocation Portal</title>
</head>
<body>
  <div clas="container">
    <div class="row">
        <div class="col-md-6">
          <p>Adjust the map to view supplies information</p>
          <div id="map"></div>
          <script>
            // Initialize and add the map
            function initMap() {
              // The location of Uluru
              var latlong = {lat: 42.6526, lng: -73.7562};
              // The map, centered at Uluru
              var map = new google.maps.Map(
                  document.getElementById('map'), {zoom: 4, center: latlong});

              google.maps.event.addListener(map, 'dragend', function() {
                //Post coordinates to flask server
                console.log(map.getCenter().lat(),map.getCenter().lng());
                $.post("http://localhost:5000/geoquery", {lat: map.getCenter().lat(), lng: map.getCenter().lng()}).done(function(data, status){
                  console.log(data, status);
                  var str = '';
                  for(i=0; i<data.length; i++){
                    if(data[i].length != 1){
                      str += '<ul>';
                      str += '<li>State Code: '+ data[i][0] +'</li>';
                      str += '<li>County Code: '+ data[i][1] +'</li>';
                      str += '<li>Resource Type: '+ data[i][2] +'</li>';
                      str += '<li>Resource Name: '+ data[i][3] +'</li>';
                      str += '<li>Quantity Available: '+ data[i][4] +'</li>';
                      str += '<li>Location: '+ data[i][5] +'</li>';
                      str += '</ul>';
                  }
                  $('#resource_list').html(str);
                };
              });
            });
          }
          </script>
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbbvgJb9Yc-qHEZYmcot9C3ZdTaWWsLjc&callback=initMap"></script>
        </div>
        <div id="resource_list" class="col-md-6">
        </div>
    </div>
  </div>
</body>
</html>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
